* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f8f8f8;
    background: linear-gradient(to bottom, #011a6e, #0044cc);
    line-height: 1.6;
}



/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}


.logo2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo2 img {
    width: 70px;
    border-radius: 50%;
    border: 2px solid #4da6ff;
    box-shadow: 0 0 10px #000;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/* Menu */
.voltar {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #011a6e;
    padding: 15px 0;
    text-align: center;
    border-top: 2px solid #4da6ff;
}

.voltar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.voltar ul li a {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.voltar ul li a:hover {
    color: #4da6ff;
    text-shadow: 0 0 8px #4da6ff;
}

.voltar.show {
    display: block;
}

/* Botão hamburguer */
.menu-toggle {
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    z-index: 1001;
    transition: transform 0.3s;
}

.menu-toggle:hover {
    transform: scale(1.1);
    color: #4da6ff;
}

/* Conteúdo principal */
.card {
    display: none;
}
.card.active {
    display: block;
}


main nav {
    text-align: center;
    margin: 13px ;
}

main nav button {
    border-radius: 20px;
    padding: 8px 15px;
    background: #0044cc;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin: 13px;
}

main nav button:hover {
    background: #4da6ff;
    color: #011a6e;
    transform: scale(1.05);
}



