/* Reset e Estilos Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #f8f8f8;
    background: linear-gradient(to bottom, #011a6e, #0044cc);
}
header{
    justify-content: space-around;
}
header img{
    width: 50px;
}


